<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Web Tests Runner"
       parallel="false"
       verbose="1"
       configfailurepolicy="continue"
       thread-count="2">

    <listeners>
        <listener class-name="listener.WebTestListener"/>
    </listeners>

    <test name="Test Login">
        <parameter name="browserName" value="chrome"/>
        <parameter name="platform" value="Windows 10"/>
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Test LogOut">
        <parameter name="browserName" value="chrome"/>
        <parameter name="platform" value="Windows 10"/>
        <classes>
            <class name="tests.LogOutTest"/>
        </classes>
    </test>

</suite>
